.hamburgerDropdown {
    display: none;
    position: absolute;
    top: 30px;
    left: -70px;
    width: 150px;
    background-color: var(--bg-2);
    box-shadow: 0 0 10px var(--shadow);
    z-index: 100;
    color: var(--text-light);
    transition: all 0.3s;
    list-style: none;

    border-radius: 5px;
}

.hamburgerDropdown li {
    padding: 1rem;
    border-bottom: 1px solid #f0f0f0;
}

.hamburgerDropdown li a {
    text-decoration: none;
    color: var(--text-light);
}

.hamburgerDropdown li a:hover {
    color: #0070f3;
}

.hamburgerDropdown li:last-child {
    border-bottom: none;
}

@media screen and (max-width: 640px) {
    .show {
        display: block;
    }
}

.container {
    position: relative;
}


.burger {
    position: relative;
    width: 20px;
    height: 15px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--text-light);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 14px;
    left: 5px;
}