.container {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 106px);
}

.inputDiv {
    border-right: 1px solid var(--border);
    width: 50%;
}

.outputDiv {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .inputDiv {
        border-right: none;
        border-bottom: 1px solid var(--border);
        width: 100%;
        height: 50%;
    }

    .outputDiv {
        width: 100%;
        height: 50%;
    }
    
}