.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--border);
    box-shadow: var(--shadow);
    height: 56px;
}

.container a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navRight {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navLinks li a {
    text-decoration: none;
    color: var(--text);
}

.container button {
    background: none;
    border: 1px solid var(--border);
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: var(--text);
}

.hamburger {
    display: none;
}

.advancedLink {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .navLinks {
        display: none;
    }

    .hamburger {
        display: block;
    }
    
}