.textOutput {
    outline: none;
    padding: 8px;
    width: 100%;
    background-color: var(--bg-2);
    height: calc(100vh - 106px - 50px);
    color: var(--text);
}

.controlContainer {
    display: flex;
    gap: 1rem;
    height: 50px;
    justify-content: center;
    padding: 8px 0;
}

.controlContainer button {
    background: none;
    border: 1px solid var(--border);
    padding: 0 1rem;
    cursor: pointer;
    color: var(--text);
    font-size: 14px;
}

.container [contenteditable] {
    padding: 12px;
}

.container [data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: var(--text-light);
    font-style: italic;
    font-size: 14px;
}





@media screen and (max-width: 768px) {
    .textOutput {
        height: calc(50vh - 50px - 50px);
    }

    .controlContainer {
        height: 50px;
    }

    .controlContainer button {
        padding: 0 0.5rem;
    }
}